/* 代码复用 */
/* 通用的 css 样式 */
$content-font-color:#333;
$content-bgColor:#F1F1F1;
$content-notice-font-color: #777;
$content-item-font-color: #666;
$content-cart-font-color:#E93b3b;
$content-borderColor: #F1F1F1;
$content-cart-bgColor:#fff;
$content-order-bgColor:#4Fb0f9